*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.container-grid{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer"
    ;
    gap: 10px;
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/** todos los estilos del header**/

header{
    grid-area: header;
    height: 14vh;
    border: solid 2px black;
    display: grid;
    grid-template-columns: repeat (3,1fr);
    grid-template-rows: repeat (2,1fr);
    grid-template-areas: 
    "level-up nav-bar ingresar"
    "level-up nav-bar empezar-gratis"
    ;
    justify-items: center;
    align-items: center;
        
    color: black;
    font-family: fantasy;
    font-size: 20px; /** 1pt equivale a 0,3527mm)**/

}
.logo{
    grid-area: level-up;
}

.nav{
    grid-area: nav-bar;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items:center;
    text-decoration: none;
    list-style: none;
    gap: 40px;
    
    
}

li a:hover{
    color: hotpink;
}


.nav-bar li a{
    color: red;

    
    
}

.ingresar{
    grid-area: ingresar;
    font-size: 10px;
}

.empezar-gratis{
    grid-area: empezar-gratis;
    font-size: 10px;
    background-color: rgba(213, 226, 23, 0.644);
    border-radius: 6px;
    text-align: center;
    padding: 5px;
    
}
.empezar-gratis:hover{
    background-color: rgba(128, 128, 128, 0.196);
}



/**todos los estilos del main**/

/** banner de fondo
.banner-main{**/ /** estoy diferenciando por clase por eso agrego el punto primero
    background-image: url("../assets/img/imagen\ violeta\ fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}**/
main{
    grid-area: main;
    border: solid 2px black;
}

main h1{
    color: rgb(245, 220, 220);
    font-family: fantasy;
    font-size: 34px;
}

main section p{
    border: solid 2px;
    color: rgb(0, 255, 21);
    font-size: 28px;
    border-radius: 20px;
    margin: 30px 10px 10px 10px;
    padding: 15px;
    text-align: center;
}

section div img{
    width: 14%;
}

.imagen1-cursos{ /**clase solo para probar un tamaño diferente al del index**/
    width: 600%;
} 

.box{
    width: 100px;
    height: 100px;
}

.box-1{
    background-color: rgb(0, 149, 255);
    border: solid 2px;
    border-radius: 3px;
    margin: 15px;    
}
.box-2{
    background-color: rgb(255, 162, 0);
    border: solid 2px;
    border-radius: 3px;
    margin: 15px;
}

.box-3{
    background-color: rgb(234, 0, 255);
    border: solid 2px;
    border-radius: 3px;
    margin: 15px;
}

/**todos los estilos del footer**/

footer{
    grid-area: footer;
    border: solid 2px black;
}


footer div img{
    width: 2%;
}

footer h3{
    color: blueviolet;
}

