*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container-grid{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "footer footer footer"
        ;
        gap: 1.25rem;
        background: #BBD2C5;  
        background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-size: 16px;
}

/** todos los estilos del header**/

header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat (3,1fr);
    grid-template-rows: repeat (2,1fr);
    grid-template-areas: 
    "level-up nav-bar ingresar"
    "level-up nav-bar empezar-gratis"
    ;
    justify-items: center;
    align-items: center;
    
    color: black;
    font-family: fantasy;
    font-style: italic;
    font-size: 1.25em; 
    
        background: #2c3e50;
        height: 12vh;
        border-bottom-left-radius: 50% 30%;
        border-bottom-right-radius: 50% 30%;
}


.logo{
    grid-area: level-up;
    -webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@-webkit-keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

.nav{
    grid-area: nav-bar;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items:center;
    list-style: none;
    gap: 2.5em;
}

.nav-bar li a{
    text-decoration: none;
    list-style: none;    
}
a:link{
    color: black;
}

a:visited{
    color: blueviolet;
}

.ingresar{
    grid-area: ingresar;
    font-size: 0.625em;
}

.empezar-gratis{
    grid-area: empezar-gratis;
    font-size: 0.625em;
    border-radius: 6px;
    text-align: center;
    padding: 0.3125em;
}
.empezar-gratis:hover{
    background-color: rgba(213, 226, 23, 0.644);
    -webkit-animation: text-shadow-pop-bl 0.6s both;
	        animation: text-shadow-pop-bl 0.6s both;
}

@-webkit-keyframes text-shadow-pop-bl {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
      -webkit-transform: translateX(8px) translateY(-8px);
              transform: translateX(8px) translateY(-8px);
    }
  }
  @keyframes text-shadow-pop-bl {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
      -webkit-transform: translateX(8px) translateY(-8px);
              transform: translateX(8px) translateY(-8px);
    }
  }
  



/**todos los estilos del main**/

/** banner de fondo
.banner-main{**/ /** estoy diferenciando por clase por eso agrego el punto primero
    background-image: url("../assets/img/imagen\ violeta\ fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}**/
main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "texto1 imagen1"
    "texto2 imagen2"
    "texto3 imagen3"
    ;
}

.texto1{
        grid-area: texto1;
        margin-top: 3.125em;
}

.texto2{
        grid-area: texto2;
        display: flex;
        flex-direction: column;
        margin-top: 3.125em;
        justify-content: center;
        align-items: center;
}

.texto3{
        grid-area: texto3;
        display: flex;
        flex-direction: column;
        margin-top: 3.125em;
        justify-content: center;
        align-items: center;
        
}

main h1{
    color: black;
    font-family: fantasy;
    font-size: 1.5625em;
    display: flex;
    justify-content: center;
    margin: 0.3125em;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 1.875em;

}

main section p{
    border: solid 0.125em;
    font-size: 1.25em;
    border-radius: 1.25em;
    margin: 2.5em 0.625em 0.625em 0.625em;
    padding: 0.9375em;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

p::selection{
        color: deeppink;
}

.imagen1{
        grid-area: imagen1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


.imagen2{
        grid-area: imagen2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3.125em;
}

.imagen3{
        grid-area: imagen3;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-content: center;
        align-items: center;      
        margin-top: 5em;
        margin-bottom: 3.75em;
}


.box{
        
   
width: 10em;
height: 10em;
}

.box-1{
    background-color: rgb(0, 149, 255);
    border: solid 2px;
    border-radius: 3px;
    margin: 15px;  
  
}
.box-2{
    background-color: rgb(255, 162, 0);
    border: solid 2px;
    border-radius: 3px;
    margin: 15px;
    
    
}

.box-3{
        background-color: rgb(234, 0, 255);
        border: solid 2px;
        border-radius: 3px;
        margin: 15px;
        
}

/**todos los estilos del footer**/

footer{
        grid-area: footer;
        display: flex;   
        flex-direction: row;
        position: relative;
        background: #2c3e50;
        border-top-left-radius: 50% 80%;
        border-top-right-radius: 50% 80%;
        bottom: 0;
        width: 100%;
        height: 12vh;
}

.logo-footer{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 25em;
        padding-top: 1.5625em;
}

.contáctanos h3{
        display: flex;
        flex-direction: row;
        width: 43.75em;
        justify-content: center;
        margin-top: 1.25em;
}

.contáctanos p{
        display: flex;
        justify-content: center;
        margin-top: 1.25em;
}

.iconos-redes h3{
        display: flex;
        flex-direction: row;
        width: 270px;
        justify-content: flex-start;
        align-items:center;
        margin-top: 1.375em;
        margin-left: 0.5em;    
}

.iconos-redes .link{
        display: flex;
        flex-direction: row;
        margin-top: 1.25em;
        gap: 0.9375em;        
}

@media (max-width:1200px){

        .container-grid{
                font-size: 14px;
        }
}

@media (max-width:992px){
        .container-grid{
                font-size: 14px;
        }
}

@media (max-width:768px){
        .container-grid{
                grid-template-columns: (2,1fr);
                font-size: 12px;                
}
}
/* Mobile*/

@media (max-width:576px){
        
        .container-grid{
                grid-template-columns: 1fr;
                font-size: 8px;
        }

        header{
                height: 10vh;
                
        }

        main{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                justify-items: center;
                align-content: center;
                
        }

        
        
        footer{
                
                height: 10vh;
        }

}
